UID_=1000
GID_=1000

CONTAINER_NAME="debug-container"
TRAIN_NAME="train-container"

# docker image for debug
RUN_DOCIMAGE="noise-cls:dev"

# ClearML agent (unneccessary)
AGENT_DOCIMAGE="noise-cls:agent"
# whitespace must not be used. User | instead. 
# It will be .replace("|", " ") in python code
DOC_ARGS="-v|/mnt:/mnt|-v|/home/user/noise_classification/:/app/|-v|/home/data/:/data|-w|/app/|--user|1000:1000 --shm-size=64gb" 

GPU_ID=0  # neccessary for train

# will be mounted as /data
DATA_DIR="/path/to/dataset/dir/"

CLEARML_KEY_TOKEN="****"
CLEARML_SEC_TOKEN="****"

# jupyter
JUP_PORT=8888
JUP_NAME="noise-cls-jupyter"
JUP_IMAGE="noise-cls:jupyter"
JUP_TOKEN="jupytertoken123"
