__pycache__
tmp
cache
.ipynb_checkpoints
noisecls/__pycache__
noisecls/data/__pycache__
noisecls/models/__pycache__
noisecls/utils/__pycache__
dev/
data/
!data/processed/test.v1.csv
!data/processed/train.v1.csv
debug.py

# not used yet
experiments/
models/
references/
reports/
tests/
torch_serve/
docs/img
!docs/img/image.png
noisecls/data/base_DistributedSampler.py
noisecls/data/clearml_dataset.py
noisecls/data/data_parallel.py
noisecls/utils/hypertune.py
noisecls/inference.py
classes
docker/train_*.sh
docker/*.tar
.env*
!.env.example

